<div class="content-area" style="padding:0">
  <div class="breadcrumb-area">
    <label>路徑:</label>
    <app-breadcrumb [segments]="segments" [paths]="paths" [query]="query"></app-breadcrumb>
    <span style="float:right"></span>
  </div>
  <div class="filelist" #fileListContainer>
    <dts-select-container #container="dts-select-container" [(selectedItems)]="selectedFiles">
      <div class="row">
        <div *ngFor="let item of filelist" class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
          <div [dtsSelectItem]="item" class="card" style="cursor:pointer" (click)="goToDirectory(item)" (dblclick)="download(item)"
            (mouseenter)="item.mouseon=true" (mouseleave)="item.mouseon=false">
            <div class="card-img">
              <clr-icon *ngIf="isLoadMore(item)" shape="ellipsis-horizontal" style="width:100%;height: 100%;"></clr-icon>
              <clr-icon *ngIf="isParent(item)" shape="undo" style="width:100%;height: 100%;"></clr-icon>
              <clr-icon *ngIf="isDirectory(item)" shape="folder" style="width:100%;height: 100%;"></clr-icon>
              <clr-icon *ngIf="!isDirectory(item) && !isImage(item) && !isParent(item) && !isLoadMore(item)" shape="file"
                style="width:100%;height: 100%;"></clr-icon>
              <div *ngIf="isImage(item)" [style.backgroundImage]="'url(' + item.downloadUrl + ')'" style="background-size: cover;padding-top: 100%;"></div>
            </div>
            <div class="card-block">
              <p class="card-text fileTitle" *ngIf="isParent(item)">
                回上層
              </p>
              <p class="card-text fileTitle" *ngIf="!isParent(item)">
                <ng-marquee duration="3" *ngIf="item.mouseon">{{item.name}}</ng-marquee>
                <ng-container *ngIf="!item.mouseon">{{item.name}}</ng-container>
              </p>
            </div>
          </div>
        </div>
      </div>
    </dts-select-container>
  </div>
</div>
<nav class="sidenav">
  <section class="sidenav-content">
    <div style="padding: 5px;">
      <div class="btn-group btn-primary" style="width:100%">
        <button class="btn" style="width:50%">
          <clr-icon shape="plus"></clr-icon>
          <span class="clr-icon-title">新增目錄</span>
        </button>
        <button class="btn" style="width:50%">
          <clr-icon shape="upload"></clr-icon>
          <span class="clr-icon-title">上傳檔案</span>
        </button>
      </div>
    </div>
    <app-directory-tree></app-directory-tree>
  </section>
</nav>
