<div class="content-area" style="padding:0">
  <div class="breadcrumb-area">
    <label>路徑:</label>
    <app-breadcrumb [segments]="segments" [paths]="paths" [query]="query"></app-breadcrumb>
  </div>
  <div class="filelist">
    <dts-select-container #container="dts-select-container">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-img">
              <img src="https://www.taiwan.net.tw/resources/images/Attractions/0001095.jpg">
            </div>
            <div class="card-block">
              <p class="card-text">
                ...
              </p>
            </div>
          </div>
        </div>
      </div>
    </dts-select-container>
  </div>
</div>
<nav class="sidenav">
  <section class="sidenav-content">
    <div style="padding: 5px;">
      <div class="btn-group btn-primary" style="width:100%">
        <button class="btn" style="width:50%">
          <clr-icon shape="plus"></clr-icon>
          <span class="clr-icon-title">新增目錄</span>
        </button>
        <button class="btn" style="width:50%">
          <clr-icon shape="upload"></clr-icon>
          <span class="clr-icon-title">上傳檔案</span>
        </button>
      </div>
    </div>
    <app-directory-tree></app-directory-tree>
  </section>
</nav>
